@using global::Shared
@inject IUserService UserService
@inject IReviewService ReviewService

<h3 align="center">Reviews</h3>


@if (_reviews == null)
{
    <div>
        <p>No Reviews found</p>
    </div>
}
else
{
    <div class="mb-3">
        <ul class="review-card">
            @foreach (var review in _reviews)
            {
                <li>
                    <div id="review">
                        <div>
                            <p>
                                <a href="/user/@review.MadeByUserId">
                                    <b>@GetUserName(review.MadeByUserId)</b>
                                </a>
                            </p>
                        </div>
                        <div>
                            <p>
                                @review.ReviewText
                            </p>
                        </div>
                        <div>
                            @*<button @onclick="@(e => AddLike(@review.Id, @review.MadeByUserId))">Helpful</button>
                            @* here... i am not sure how to update the like count cleanly
                            @switch (_likeCount)
                            {
                                case > 1:
                                    @_likeCount <p class="helpful-text"> people found this helpful. </p>
                                    break;
                                case 1:
                                    <p class="helpful-text"> 1 person found this helpful. </p>
                                    break;
                                default:
                                    <p class="helpful-text"> No one found this helpful.</p>
                                    break;
                            }
                            *@

                        </div>

                    </div>
                </li>
            }
        </ul>
    </div>
}
<div class="mb-3">
    <label>
        <EditForm Model="@newReview" OnValidSubmit="@HandleValidSubmit">
            New Review:
            <div>
                <InputTextArea @bind-Value="newReview.ReviewText" class="form-control" />
            </div>
            <br>
            <div>
                <button type="submit" class="btn btn-primary">Post Review </button>
            </div>
        </EditForm>
    </label>

</div>


@code {
    [Parameter]
    public int ProductId { get; set; }
    private List<Review> _reviews;
    private List<User> _users;
    @* private User _user; *@
    private int _loggedInUserId;
    private int _likeCount;
    // todo this like count attr is shared by all reviews. that is not smart.

    private Review newReview = new();

    protected override async Task OnParametersSetAsync()
    {
        _reviews = await ReviewService.GetReviewsForAProduct(ProductId);
        _users = await UserService.GetAllUsers();

        var state = await StateProvider.GetAuthenticationStateAsync();
        var loggedInUserState = state.User;
        _loggedInUserId = Convert.ToInt32(loggedInUserState.Claims.Where(a => a.Type == ClaimTypes.NameIdentifier).Select(a =>
        a.Value).FirstOrDefault());
    }

    protected override Task OnAfterRenderAsync(bool firstRender)
    {
        @* use signalR to send notification that user has viewed message
            Maybe add boolean value to track Seen/Delivered?
        *@
        return base.OnAfterRenderAsync(firstRender);
    }

    private async Task HandleValidSubmit()
    {
        newReview.MadeByUserId = _loggedInUserId;
        newReview.OnProductId = ProductId;

        var result = await ReviewService.CreateReview(newReview);
        if (result.Success)
        {
            System.Console.WriteLine(result.Message);
            NavigationManager.NavigateTo("");
            NavigationManager.NavigateTo($"product/{ProductId}");
        }
        else
        {
            System.Console.WriteLine(result.Message);
            NavigationManager.NavigateTo("");
            NavigationManager.NavigateTo($"product/{ProductId}");
            // todo use snackbar to add notification
        }
    }

    private string GetUserName(int userId)
    {
        foreach (var user in _users.Where(user => user.Id == userId))
        {
            return user.Name;
        }
        return "Unknown";
    }

    private async Task AddLike(int reviewId, int reviewMadeByUserId)
    {
        await LikesService.AddLike(reviewId, reviewMadeByUserId, _loggedInUserId);
        _likeCount = await LikesService.GetLikeCountForAReview(reviewId);
        StateHasChanged();
        // TODO add like count to review table?
    }
}
